@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
	margin: 0;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

@layer base {
	body {
		@apply bg-gray-100 dark:bg-gray-300;
	}

	p,
	li {
		@apply leading-relaxed text-gray-500 dark:text-gray-200 tracking-wider;
	}

	h1,
	h2,
	h3 {
		@apply text-xl sm:text-2xl md:text-3xl;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-800 dark:text-gray-200 font-medium tracking-wide sm:leading-normal;
	}

	input,
	textarea {
		@apply leading-relaxed tracking-wide border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 rounded-xl border text-base outline-none;
	}

	textarea {
		@apply text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-800;
	}

	input[type='range'],
	input[type='text'],
	input[type='number'],
	input[type='number'] {
		@apply text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-800;
	}

	label {
		@apply text-gray-800 dark:text-gray-400;
	}

	select {
		@apply bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 rounded-xl border text-base outline-none leading-8;
	}
}

@layer components {
	.button-default {
		@apply flex cursor-pointer items-center justify-center px-4 py-1 text-base font-medium outline-none ring-0 focus:outline-none;
	}

	.bg-default {
		@apply bg-gray-100 dark:bg-gray-900;
	}

	.bg-default2 {
		@apply bg-white dark:bg-gray-800;
	}
}
